.form{
  background-color: #3AD886;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  width: 400px;
  justify-content: center;
  padding: 30px;
  height: 500px;
  border-radius: 7px;
  margin: 10px 0;
  
}
.preview{
  width: 150px;
}

.form > img {
  margin: 0 auto;
}
.form > p{
  text-align: left;
}
.form > input {
  margin: 0px auto;
  width: 100%;
}
.form > .btn {
  padding: 10px;
  margin: 5px 10px;
  background-color: #ed6b5a;
  border-radius: 7px;
  border: none;
}